In [2]:
import pandas as pd

In [40]:
train=pd.read_csv("train.csv",index_col=False)
train.sample(10)

,Unnamed: 0,Hour,Minutes,Sensor_alpha,Sensor_beta,Sensor_gamma,Sensor_alpha_plus,Sensor_beta_plus,Sensor_gamma_plus,Insect
1394,1394,19,32,-39.477860,-59.799656,-140.651875,-10.812550,-2.453918,31.111386,2
808,808,5,45,-13.250853,-117.980112,66.943796,33.170243,-30.811421,-99.237972,1
2194,2194,21,58,-128.529080,211.266256,179.329524,-115.272015,-101.393672,172.576887,1
1243,1243,21,43,-24.275356,127.463040,-155.326572,147.271536,-50.717266,31.763426,2
2671,2671,18,6,-119.472062,59.599909,-5.885044,16.863248,93.389395,-43.683010,0
5877,5877,19,32,-158.074024,-125.387150,21.610408,-42.960352,159.606087,-115.959573,0
573,573,9,8,132.021014,-29.879214,-38.151374,-67.030368,196.420534,-136.380742,1
2780,2780,20,51,-91.094708,-5.833424,-66.013319,13.099679,-14.516250,109.827901,0
580,580,19,47,-163.640246,-4.736379,75.912397,54.218210,-148.141693,153.284210,0
3014,3014,19,30,-105.519131,-234.099066,-115.026410,122.998108,62.056862,108.645785,0

In [6]:
train["Insect"].value_counts()

0    3519
1    2793
2     689
Name: Insect, dtype: int64

In [20]:
hours=train["Hour"].value_counts()
hours.sort_index(axis = 0)

1       31
2       24
3       27
4       32
5       45
6       16
7       40
8       30
9       32
10      27
11      40
12      38
13      27
14      38
15      27
16      30
17      41
18     752
19     720
20     804
21    3235
22     802
23     143
Name: Hour, dtype: int64